<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>HackerCouncil</h1>
      <p>Bem vindo ao HackerCouncil</p>
      <a href='/auth/google'>
         <img src='/images/g+.png' width='24' height='24'>
      </a>
  </body>
</html>
