<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>HackerCouncil</h1>
      <p>Bem vindo ao HackerCouncil</p>
      <br>
      <a href='/auth/github'>
         <img src='/images/GitHub-Mark-32px.png'/>
      </a>
      </br>
  </body>
</html>
