<!DOCTYPE html>
<html>
  <head>
    <title>HackerSpace</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <a href="/auth/google">SignOn with google</a>
  </body>
</html>
